.basket-card {
	display: flex;
	margin-right: 15px;
	position: relative;
	&+&{
		padding-top: 20px;
	}
	&__image {
		width: 117px;
		height: 97px;
		margin-right: 15px;
	}
	&__main {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		flex-grow: 1;
	}
	&__footer {
		display: flex;
		justify-content: space-between;
	}
	&__name {
		font-size: 17px;
		line-height: 20px;
		letter-spacing: 0.5px;
		color: #202525;
	}
	&__info {
		font-size: 13px;
		line-height: 15px;
		letter-spacing: 0.5px;
		color: #8E8E8E;
	}
	&__price {
		font-weight: 300;
		font-size: 18px;
		line-height: 28px;
		letter-spacing: 0.5px;
		color: #202525;
	}
	&__button {
		position: absolute;
		font-size: 22px;
		top: 50%;
		right: 0;
		transform: translate(0,-50%);
		cursor: pointer;
	}
}