.form {
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__input {
		width: 100%;
		margin-bottom: 20px;
		&--half {
			width: calc(50% - 10px);
		}
	}
	&__message {
		width: 100%;
		background: #FFFFFF;
		border: 1px solid #A2A2A2;
		box-sizing: border-box;
		border-radius: 4px;
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		color: #202525;
		padding: 14px 12px;
		outline:0;
		resize: none;
		overflow: auto;
		margin-bottom: 40px;
		min-height: 170px;
		&::placeholder {
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			color: #A0A0A0;
			text-transform: uppercase;
		}
		&:focus {
			border: 1px solid #375A64;
		}
		&:hover {
			border: 1px solid #375A64;
		}
		&::-webkit-scrollbar {
    	width: 10px;
		}
		&::-webkit-scrollbar-track {
			background-color: #F0F0F0;
			border-radius: 8px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #1A2E35;
			border: 3px solid #F0F0F0;
			border-radius: 8px;
			&:hover {
				background-color: #3A4042;
			}
		}
	}
}