.skeleton {
	&--tab {
		padding-bottom: 20px;
		&+&{
			margin-left: 10px;
		}
	}
	&__image {
		animation: blink 3s ease-in-out infinite;
		&+&{
			padding-left: 10px;
		}
	}
}

@keyframes blink {
	0% { opacity: 1; }
	25% { opacity: 0; }
	50% { opacity: 1; } 
	75% { opacity: 0; }
	100% { opacity: 1; }
}