.button {
	border: none;
	border-radius: 4px;
	margin: 0;
	padding: 11px 17px;
	font-weight: 400;
  text-decoration: none;
	background-color: transparent;
	cursor: pointer;
	&--view {
		&-secondary {
			background: #fff;
			border: 1px solid #DEDEDE;
			font-size: 16px;
			line-height: 19px;
			letter-spacing: 1px;
			box-shadow: 0px 5px 8px rgba(82, 82, 82, 0.05);
			transition: 0.3s ease;
			transition-property: background, transform;
			&:hover {
				background: #F6F6F6;
				transform: scale(1.05)
			}
		}
		&-primary {
			background: #202525;
			border: 1px solid #DEDEDE;
			font-size: 16px;
			line-height: 19px;
			letter-spacing: 1px;
			color: #FFFFFF;
			transition: 0.3s ease;
			transition-property: background, transform;
			&:hover {
				background: #323939;
				transform: scale(1.05)
			}
		}
	}
	&--text {
		&-normal {
			text-transform: none;
		}
		&-upper {
			text-transform: uppercase;
		}
	}
	&--size {
		&-small{
			font-size: 14px;
			line-height: 17px;
		}
		&-medium{
			font-size: 16px;
			line-height: 19px;
		}
		&-big{
			font-size: 20px;
			line-height: 24px;
		}
	}
}