.home {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	&__products {
		min-width: 820px;
		display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 35px;
		grid-row-gap: 35px;
		align-items: start;
	}
}