.home {
		display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
		padding-bottom: 40px;
	&__wrapper {
		width: 820px;
	}
	&__products {
		display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 35px;
		grid-row-gap: 35px;
		align-items: start;
	}
	&__tabs {
    position: sticky;
    top: 112px;
		z-index: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #FAFAFA;
    margin: 0 -3px;
    padding: 0 3px;
    padding-bottom: 20px;
	}
}